<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ site.baseurl }}/assets/themes/apache/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/assets/themes/apache/css/style.css?body=1" rel="stylesheet" type="text/css">
    <link href="{{ site.baseurl }}/assets/themes/apache/css/syntax.css" rel="stylesheet"  type="text/css" media="screen" />
    <link href="{{ site.baseurl }}/assets/themes/apache/css/demo.css" rel="stylesheet" type="text/css"/>
    
    <!-- ADD THEME TOGGLE CSS -->
    {% include theme-toggle.html %}

  </head>

  <body>

    {% include themes/apache/_navigation.html %}

    <div class="container">
      {{ content }}
      <hr>
      <footer>
        <!-- <p>&copy; {{ site.time | date: '%Y' }} {{ site.author.name }}</p>-->
        {% include themes/apache/footer.html %}
      </footer>
    </div>

    {% include JB/analytics %}
    <script src="{{ ASSET_PATH }}/jquery/jquery-2.1.1.min.js"></script>
    <script src="{{ ASSET_PATH }}/bootstrap/js/bootstrap.min.js"></script>

    <!-- ADD THEME TOGGLE JAVASCRIPT -->
    <script src="{{ site.baseurl }}/assets/js/theme.js"></script>

  </body>
</html>