<!--<div class="hero-unit {{ page.title | lowercase }}">
  <h1>{% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h1>
</div>
-->

<div class="row">
  <div class="col-md-12">
    {{ content }}

    <div id="term_wrap">
      <div id="term_container">
      </div>
      <div id="term_bar">
        <progress id="net_progress">
        </progress>
      </div>
    </div>  

  </div>
</div>
<script type="text/javascript" src="/demo/term.js"></script>
<script type="text/javascript" src="/demo/jslinux.js"></script>
